{%extends 'layout/basic.html' %}
  

{%block title%}Login{% endblock%}
{%block css%}

{%endblock%}

{%block content%}

<div class="container">
    <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
            <form id="LoginForm" method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3" style="position: relative;">
                  <label for="{{field.label}}" class="form-label">{{field.label}}</label>
                  {{field}}
                  <span style="color: red; position: absolute;" >{{field.error.0}}</span>
                </div>
                
                {% endfor %}
                <button id='submitForm'  type="button" class="btn btn-primary">Submit</button>
            </form>
                
        </div>
    </div>
</div>

{%endblock%}

{%block js%}
<script>
    $(function(){
        bindSubmitBtn();
    });

    function bindSubmitBtn(){
        $('#submitForm').click(function(){
            //$('#LoginForm').empty()
            $.ajax({
                url:"{% url 'submit_login' %}",
                type:'POST',
                data: $('#LoginForm').serialize(),
                dataType:"JSON",
                success: function(res){
                    if(res.status){
                        alert('success')
                        $('#LoginForm').empty()
                        window.location.href = '/add_cl/'
                    }else{
                        $.each(res.error, function(name, data){
                            $('#id_'+name).next().text(data[0])
                        })
                    }
                }
            })
        })
    }


</script>
{%endblock%}